[submodule "flecsi-sp"]
	path = flecsi-sp
	url = ../../laristra/flecsi-sp.git
[submodule "flecsi"]
	path = flecsi
	url = ../../laristra/flecsi.git
[submodule "portage"]
	path = portage
	url = ../../laristra/portage.git
[submodule "libristra"]
	path = libristra
	url = ../../laristra/libristra.git
[submodule "tangram"]
	path = tangram
	url = ../../laristra/tangram.git
